/* imports */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap');
/* font-family: 'Plus Jakarta Sans', sans-serif; */

/* resets */
* {
    margin-block: 0;
    margin-inline: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
    /* outline: 1px solid #3832ec; */
}

a {
    text-decoration: none;
}

button {
    border: none;
    background-color: unset;
}

:root {
    /* variables */
    /* pallete */
    --background: #fff7f0;

    --primary-btn: #030303;
    --secundary-btn: #eb7565;
    --primary-btn-hover: #755cde;
    --secundary-btn-hover: #f6a560;
    --text-btn: #fff7f0;

    --heading: #030303;
    --paragraph: #7a746e;

    --box-background-a: #755cde;
    --box-background-b: #f6a560;
    --box-background-c: #f39e9e;
    --box-background-d: #eb7565;
    --box-background-e: #61c4b7;
    --box-background-f: #552049;
    --box-text: #fff7f0;

    /* typography */
    --heading-weight: 700;
    --box-weight: 700;
    --paragraph-weight: 500;
    --bnt-weight: 700;

    --heading-font-l: 56px;
    --heading-font-m: 44px;
    --heading-font-s: 36px;
    --heading-font-ss: 26px;
    --paragraph-font-m: 18px;
    --paragraph-font-s: 16px;
    --btn-font-m: 16px;
    --btn-font-s: 14px;
    --box-font: 24px;

    --heading-line-l: 70px;
    --heading-line-m: 55px;
    --heading-line-s: 45px;
    --heading-line-ss: 33px;
    --paragraph-line-m: 28px;
    --paragraph-line-s: 26px;
    --btn-line: 28px;
    --box-line: 30px;
}


/* ------------------------------ 
Start

First Mobile
-------------------------------*/


/* buttons */
.btn {
    width: 176px;
    height: 44px;

    color: var(--text-btn);
    background-color: var(--primary-btn);
    border-radius: 28px;

    font-weight: var(--bnt-weight);
    font-size: var(--btn-font-s);
    line-height: var(--btn-line);
    transition: 0.2s;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--primary-btn-hover);
}

.btn.secundary-btn {
    background-color: var(--secundary-btn);
}

.btn.secundary-btn:hover {
    background-color: var(--secundary-btn-hover);
}

/* body */
body {
    background-color: var(--background);
    padding: 16px;
}

/* header */
.header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header div img {
    width: 48px;
    height: 48px;
}

.header section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 32px 0;
}

.header section h1 {
    font-size: var(--heading-font-s);
    line-height: var(--heading-line-s);
    color: var(--heading);
}

.header section p {
    width: 83%;
    color: var(--paragraph);
    font-weight: var(--paragraph-weight);
    font-size: var(--paragraph-font-s);
    line-height: var(--paragraph-line-s);
    margin-top: 16px;
}

/* main content */
/* skilss - grid container */
.skill-box:nth-child(1) {
    width: 100%;
    height: 364px;
    background-color: var(--box-background-a);
    grid-area: design;
}

.skill-box:nth-child(2) {
    width: 100%;
    height: 182px;
    background-color: var(--box-background-b);
    grid-area: ui-ux;
}

.skill-box:nth-child(3) {
    width: 100%;
    height: 182px;
    background-color: var(--box-background-c);
    grid-area: apps;
}

.skill-box:nth-child(4) {
    width: 100%;
    height: 158px;
    background-color: var(--box-background-d);
    grid-area: illust;
}

.skill-box:nth-child(5) {
    width: 100%;
    height: 182px;
    background-color: var(--box-background-e);
    grid-area: photo;
}

.skill-box:nth-child(6) {
    width: 100%;
    height: 182px;
    background-color: var(--box-background-f);
    grid-area: motion;
}

.main-content .skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "design design"
        "ui-ux apps"
        "illust illust"
        "photo photo"
        "motion motion";
    justify-items: center;
    column-gap: 25px;
    row-gap: 24px;
}

.main-content .skills .skill-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    border-radius: 8px;
}

.main-content .skills .skill-box .img-box {
    margin-top: 24px;
    margin-right: 24px;
}

.main-content .skills .skill-box h2 {
    text-align: left;
    color: var(--box-text);
    font-weight: var(--box-weight);
    line-height: var(--box-line);
    margin-bottom: 24px;
    margin-left: 24px;
}

/* About me */
.main-content .about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0;
    text-align: center;
}

.main-content .about-me .img-box {
    margin: 0 22px;
    max-width: 445px;
}

.main-content .about-me .img-box img {
    width: 100%;
}

.main-content .about-me section h2 {
    font-size: var(--heading-font-ss);
    line-height: var(--heading-line-ss);
}

.main-content .about-me section p {
    color: var(--paragraph);
    font-weight: var(--paragraph-weight);
    font-size: var(--paragraph-font-s);
    line-height: var(--paragraph-line-s);
    margin: 24px 0;
}

/* my work */
/* carrousel */
.my-work {
    margin-bottom: 100px;
}

.my-work .carrousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin: 0 -16px;
}

.my-work .carrousel-container h2 {
    margin-bottom: 32px;
    text-align: center;
}

.my-work .carrousel-container #carrousel {
    display: flex;
    justify-content: center;
    width: 1410px;
    transition: 0.5s;
}

.my-work .carrousel-container #carrousel img {
    height: 180px;
    margin: 0 7.5px;
    border-radius: 10px;
    transition: 0.3s;
}

.my-work .carrousel-container .carrousel-btns {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 32px;
}

.my-work .carrousel-container .carrousel-btns a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-btn);
    border-radius: 50%;
    width: 64px;
    height: 64px;
    cursor: pointer;
    transition: 0.2s;
}

.my-work .carrousel-container .carrousel-btns a:hover {
    background-color: var(--primary-btn-hover);
}

.my-work .carrousel-container .carrousel-btns a img {
    width: 14px;
    height: 16px;
}

/* carrousel animation */
.transition-1 {
    transform: translateX(285px);
}

.transition-2 {
    transform: translateX(570px);
}

.transition-3 {
    transform: translateX(-570px);
}

.transition-4 {
    transform: translateX(-285px);
}

.transition-5 {
    transform: translateX(0px);
}

/* contact */
.contact {
    background-color: var(--primary-btn);
    border-radius: 10px;
    text-align: center;
    color: var(--background);
    padding: 48px 24px;
    margin-bottom: 40px;
}

.contact h2 {
    font-size: var(--heading-font-ss);
    line-height: var(--heading-line-ss);
    margin-bottom: 24px;
}

.contact p {
    font-size: var(--paragraph-font-s);
    line-height: var(--paragraph-line-s);
    margin-bottom: 24px;
}

/* footer */
.footer div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.footer div img {
    width: 48px;
    height: 48px;
}


/* ------------------------------ 
@medias

Tablet
-------------------------------*/


@media(min-width: 768px) {
    .btn {
        width: 228px;
        height: 56px;
        font-size: var(--btn-font-m);
    }

    .header div {
        margin: 0 30px;
        margin-top: 24px;
        margin-bottom: 64px;
    }

    .header div img {
        width: 64px;
        height: 64px;
    }

    .header section {
        margin: 0 28px;
        margin-bottom: 64px;
    }

    .header section h1 {
        font-size: var(--heading-font-m);
        line-height: var(--heading-line-m);
    }

    .header section p {
        font-size: var(--paragraph-font-m);
        line-height: var(--paragraph-line-m);
        margin: 0;
        margin-top: 27px;
    }

    /* main content */
    /* skilss - grid container */
    .main-content .skills {
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-areas:
            "design ui-ux apps"
            "design illust illust"
            "photo motion motion";
        margin: 0 29px;
        margin-bottom: 120px;
    }

    /* About me */
    .main-content .about-me {
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }

    .main-content .about-me section {
        width: 820px;
    }

    .main-content .about-me section h2 {
        font-size: 32px;
        line-height: 40px;
    }

    .main-content .about-me section p {
        font-size: var(--paragraph-font-m);
        line-height: var(--paragraph-line-m);
    }

    /* carrousel */
    .my-work .carrousel-container #carrousel img {
        height: 360px;
        margin: 0 15px;
        border-radius: 10px;
        transition: 0.3s;
    }

    /* transitions */
    .transition-1 {
        transform: translateX(570px);
    }

    .transition-2 {
        transform: translateX(1140px);
    }

    .transition-3 {
        transform: translateX(-1140px);
    }

    .transition-4 {
        transform: translateX(-570px);
    }

    .transition-5 {
        transform: translateX(0px);
    }

    /* about me */
    .contact {
        display: flex;
        align-items: center;
        justify-content: space-around;
        text-align: left;
        padding: 0;
        padding: 56px 75px 64px 75px;
        margin-bottom: 56px;
    }

    .contact div {
        width: 50%;
    }

    .contact h2 {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 24px;
    }

    .contact p {
        font-size: var(--paragraph-font-m);
        line-height: var(--paragraph-line-m);
    }
}


/* ------------------------------ 
Desktop
-------------------------------*/


@media(min-width: 1366px) {
    body {
        padding: 0 165px;
        overflow-x: hidden;
    }

    .header div {
        margin-top: 34px;
    }

    .header section h1 {
        font-size: var(--heading-font-l);
        line-height: var(--heading-line-l);
    }

    /* main content */
    .main-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* carrousel */
    .skill-box:nth-child(6) {
        height: 158px;
    }

    .skill-box:hover {
        opacity: 0.8;
        cursor: pointer;
    }

    .main-content .skills {
        width: 100%;
        grid-template-columns: 2fr 1fr 1fr 2fr;
        grid-template-areas:
            "design ui-ux apps photo"
            "design illust illust motion";
    }

    /* about me */
    .main-content .about-me {
        max-width: 1200px;
    }

    /* carrousel */
    .my-work .carrousel-container #carrousel {
        width: 1920px;
    }

    .my-work .carrousel-container #carrousel img:hover {
        opacity: 0.8;
    }
}